@model PageData
<link rel="stylesheet" href="~/css/AccessDenied.css" />
    <div>
        <div class="center">
        <p class="text-danger">Access Denied</p>
        <h4 class="text-danger">You do not have persmission to view this resource</h4>
        <img src="~/NoAccess.png" />
        </div>
    </div>

