@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model OrderCreate
 
 
    <div>
        <button type="button" class="btnSave">Save</button>
        <a asp-controller="Home" asp-action="AllOrders"><button type="button" class="btnCancel">Cancel</button></a>

    </div>
<div class="submit-message">@ViewData["ValidationMessage"] Test for Test</div>
<div class="form-style">
        <div class="text-danger">@ViewData["ValidationMessage"]</div>
        <form method="post" asp-controller="Home" asp-action="FormCreate">
            <div class="block">
                <legend>BASIC PROCUREMENT DATA</legend>
            </div>

            <div class="table-devide-2">
                <div>
                    <label asp-for="Title"> </label>
                    <input asp-for="Title" class=input2>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Category"></label>
                    <input asp-for="Category" class=input2>
                </div>
                <div>
                    <label asp-for="GoalOfProcurement">Goal Of Procurement</label>
                    <input asp-for="GoalOfProcurement" class=input2>
                </div>
                <div>
                    <label asp-for="UnitPrice">Unit Price</label>
                    <input asp-for="UnitPrice" class=input2> 
                </div>

                <div>                 
                    <label asp-for="PlaceOfDelivery">Place Of Delivery</label>
                    <input asp-for="PlaceOfDelivery" class=input2>
                </div>
                <div>
                    <label asp-for="Amount"></label>
                    <input asp-for="Amount" class=input2>
                </div>

                <div> 
                    <label asp-for="Attachment"></label>  
                    <input asp-for="Attachment" class =input2>
                </div>
                <div>
                    <label asp-for="Price"></label>
                    <input asp-for ="Price" class=input2> 
                    <span asp-validation-for="Price"></span>
                </div>

                <div> 
                    <label asp-for="DesireDate">Desire Date</label>
                    <input asp-for="DesireDate" class=input2>
                </div>
                <div>
                    <label asp-for="PurchasingNotes">Purchasing Notes</label>
                    <input asp-for="PurchasingNotes" class=input2> 
                </div>
                </div>


<br />
            <div class="block">
                <legend>RELEASE OF PROCUREMENT REQUEST</legend>
            </div>

            <div class="table-devide-2">
            <div>
                    <label>Created by</label>  
                    <input class=input2 type="text" name="createdBy">
                </div>
                <div>
                    <label>Head of Department</label>
                    <input class=input2 type="text" name="headOfDepartment">
            </div>
            <div>
                    <label>General manager</label>
                    <input class=input2 type="text" name="generalManager">
                </div>
                <div>
                    <label>Head of IT</label>
                    <input class=input2 type="text" name="headOfIT">
            </div>
            </div>
<br />
            <div class="block">
                <legend>PURCHASE</legend>
            </div>
            <div class="table-devide-2">
            <div>
                    <label>Number from ERP</label>  
                    <input class=input2 type="text" name="nummberFromERP">
                </div>
            </div>
             

            <button type="submit" class="btnSave">Save</button>
        </form>
</div>
 
 
