@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/FormStyle.css" />
@model OrderCreate
 
 
    <div>
    @*@if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <a asp-controller="Home" asp-action="AllOrders"><button type="button"  class="btnUniversalFormCreate">Cancel</button></a>
        }
        else
        {
           <a asp-controller="Home" asp-action="Index"><button type="button"  class="btnUniversalFormCreate">Exit</button></a>
        }        
    }*@
    @*<button type="button" class="btnUniversal">Save</button>*@
    

    </div>
@*<div class="submit-message">@ViewData["ValidationMessage"] Test for Test</div>*@
<div class="form-style">
        <div class="text-danger">@ViewData["ValidationMessage"]</div>
        <form method="post" asp-controller="Home" asp-action="FormCreate">
            <div class="block">
                <legend>BASIC PROCUREMENT DATA</legend>
            </div>
            <div class="table-devide-2">
                <div class="cells-style">
                    <label asp-for="Title"> </label>                    
                    <input asp-for="Title" class=input2>
                    <span asp-validation-for="Title" class="text-danger"></span>                     
                </div>
                <div class ="cells-style">
                    <label asp-for="Category"></label>
                    <input asp-for="Category" class=input2>
                </div>
                <div class="cells-style">
                    <label asp-for="GoalOfProcurement">Goal Of Procurement</label>
                    <input asp-for="GoalOfProcurement" class=input2>
                </div>
            <div class="cells-style">
                    <label asp-for="UnitPrice">Unit Price</label>
                    <input asp-for="UnitPrice" class=input2> 
                </div>

            <div class="cells-style">
                <label asp-for="PlaceOfDelivery">Place Of Delivery</label>
                    <input asp-for="PlaceOfDelivery" class=input2>
                </div>
            <div class="cells-style">
                    <label asp-for="Amount"></label>
                    <input asp-for="Amount" class=input2>
                </div>

            <div class="cells-style">
                <label asp-for="Attachment"></label>  
                    <input asp-for="Attachment" class =input2>
                </div>
                <div class="cells-style">
                    <label asp-for="Price"></label>
                    <input asp-for ="Price" class=input2>
                <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="cells-style">
                <label asp-for="DesireDate">Desire Date</label>
                    <input asp-for="DesireDate" class=input2>
                </div>

                <div class="cells-style">
                    <label asp-for="PurchasingNotes">Purchasing Notes</label>
                    <input asp-for="PurchasingNotes" class=input2> 
                </div>
                </div>
                <br />                                                                                @*ERROR, HAVE TO CHANGE*@
                <div class="block">
                <legend>RELEASE OF PROCUREMENT REQUEST</legend>
                </div>
                <div class="table-devide-2">

                    <div class="cells-style">
                    <label asp-for="CreatedBy">Created by</label>
                    <input asp-for="CreatedBy" class=input2>                   
                    </div>

                    <div class="cells-style">
                    <label asp-for="HeadOfDepartment">Head Of Department</label>
                    <input asp-for="HeadOfDepartment" class=input2>                   
                    </div>

                    <div class="cells-style">
                    <label asp-for="GeneralManager">General Manager</label>
                    <input asp-for="GeneralManager" class=input2>                    
                    </div>

                    <div class="cells-style">
                    <label asp-for="HeadOfIT">Head Of IT</label>
                    <input asp-for="HeadOfIT" class=input2>
                    </div>
                </div>
<br />
            <div class="block">
                <legend>PURCHASE</legend>
            </div>
            <div class="table-devide-2">
            <div class="cells-style">
                <label asp-for="NumberFromERP">Number From ERP</label>
                <input asp-for="NumberFromERP" class=input2>                   
                </div>
            </div>

            <br />
        <button type="submit" class="btnUniversalFormCreate">Save</button>
        </form>
</div>
 
 
