<head>
    <title>Procurements</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div class="search">
        <input />
        <button type="button" class="btnCreate">Create</button>
        <button type="button" class="btnAllRequest">All Requests</button>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Created by</th>
                    <th>Category</th>
                    <th>Number from ERP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tables</td>
                    <td>300,00 $</td>
                    <td>GM</td>
                    <td>01.10.2022</td>
                    <td>Oleg, Markov</td>
                    <td>Furniture</td>
                    <td>AE3469938</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ventilator</td>
                    <td>500 $</td>
                    <td>HD</td>
                    <td>17.10.2022</td>
                    <td>Kick, Robert</td>
                    <td>Furniture</td>
                    <td>GH4859684</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>IPhone</td>
                    <td>2500 $</td>
                    <td>HD</td>
                    <td>21.10.2022</td>
                    <td>Schwarz, Alex</td>
                    <td>Soft-/Hardware</td>
                    <td>FR4958606</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bottom">
        <textarea>Requests that you have created / approved</textarea>
    </div>

</body>