@model PageData
<link rel="stylesheet" href="~/css/SavedStyle.css" />
    <div>
        <div class="center">
        <img src="~/images/saved.png" />
        <p class="text-bold">Saved</p>
        <h4>Your Details have been saved Successfully</h4>
@*
        <button>Home</button>*@
        </div>
    </div>

